<div class="container">
  <mat-card class="row search">
    <mat-form-field class="usernameform">
      <input matInput [(ngModel)]="username" placeholder="Write a Username e.g. yunussandikci" required>
    </mat-form-field>
    <button mat-raised-button class="searchButton" (click)="onClickSearchButton()" color="accent">Search</button>
  </mat-card>
  <div class="row card">
    <mat-card *ngIf="!isEmpty">
      <mat-card-header>
        <div mat-card-avatar [style.background-image]="'url('+owner.avatar_url+')'"></div>
        <mat-card-title>{{ owner.login }}</mat-card-title>
        <mat-card-subtitle>{{ owner.url }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="row card">
    <mat-card *ngIf="!isEmpty">
      <table mat-table [dataSource]="data" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Project Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/projectdetails/', row.id]"></tr>
      </table>
    </mat-card>
    <mat-card class="message" *ngIf="message">
      <p style="text-align: center;">{{message}}</p>
    </mat-card>
    <mat-card class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner [diameter]="40" *ngIf="isLoadingResults"></mat-spinner>
    </mat-card>
  </div>
</div>