.container {
  position: relative;
  margin: 25px;
  padding: 25px;
}
.card{
  margin-top: 25px;
}
.usernameform{
  position: relative;
  width: 320px;
}
.searchButton{
  left: 30px;
  width: 120px;
}
.mat-card-avatar{
  background-size: cover;
}
table {
  margin-top: 20px;
  width: 100%;
}
.loading-shade {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}