<mat-card  class="container">
  <form #githubImportForm="ngForm" id="githubImportForm" (ngSubmit)="onSubmit(githubImportForm)">
      <mat-form-field style="width:100%">
        <div class="row">
        <input type="text" [(ngModel)]="username" matInput name="username" placeholder="username" required>
        </div>
      </mat-form-field>
      <div class="row">
          <button mat-raised-button color="accent" ng-disabled="githubImportForm.$invalid" style="width:100%">Import to Database</button>
          </div>
    </form>
</mat-card>