  <div class="container">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Project Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/projectdetails/', row.id]"></tr>
      </table>
    </div>
  </div>