.container {
    position: relative;
    margin: 25px;
    padding: 25px;
  }
.card{
  margin-top: 25px;
}
.card h2{
    margin-top: 25px;
    display: inline;
}
.full_name h1{
    line-height: 15px;
    color: #e91e63;
}
.stats h2{
    color: #2c3e50;
}
.stats h3{
    color: #34495e;
}
.description h4{
    color: #34495e;
}